<!DOCTYPE html>
<html>
  <head>
    <title>Sso Provider</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to 'SSO Provider', "#", id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'New App', new_client_path %> </li>
            <li><%= link_to 'Logout', destroy_user_session_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <footer class="footer">
        <nav>
          <ul>
            <small>
              Copyright by huynt@runsystem.net
            </small>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>